.message{
	display: inline-block;
	width: 36em;
}
.timestamp{
	font-size: 80%;
	display: inline-block;
	width: 14em;
}
#output{
	padding: 0;
}
#output > li{
	border-bottom: dotted 1px #363636;
	padding: .5em 0;
	list-style: none;
}
#output > li button{
	font-size: 80%;
	color: #363636;
	background-color: white;
	border: none;
	display: inline-block;
}